<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		
		<!-- Propiedades de la BBDD -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bd_neptuno?serverTimezone=UTC</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">123456</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		
		<!-- Archivos de mapeo -->
		<mapping resource="modelos/Clavesanteriores.hbm.xml"/>
        <mapping resource="modelos/Importes.hbm.xml"/>
        <mapping resource="modelos/Detalles.hbm.xml"/>
        <mapping resource="modelos/Proveedores.hbm.xml"/>
        <mapping resource="modelos/Productos.hbm.xml"/>
        <mapping resource="modelos/Totales.hbm.xml"/>
        <mapping resource="modelos/Pedidos.hbm.xml"/>
        <mapping resource="modelos/Clientes.hbm.xml"/>
        <mapping resource="modelos/Usuarios.hbm.xml"/>
        <mapping resource="modelos/Categorias.hbm.xml"/>
        <mapping resource="modelos/Empleados.hbm.xml"/>
        <mapping resource="modelos/Envios.hbm.xml"/>
		
	</session-factory>
</hibernate-configuration>